
<div id="map" style="height:65%;"></div>

<ion-content 
[scrollEvents]="true">

    <ion-card *ngIf="!this.pointsPath[0]">
      <ion-grid>
          <ion-row>
              <ion-col size="2">
                <img src="/assets/pref-2/green-s.png" alt="" />
              </ion-col>
              <ion-col size="8" class="padding-text">
                Scegli il punto su mappa
              </ion-col>
              <ion-col size="2">
                  <ion-button ><ion-icon name="locate"></ion-icon></ion-button>
                </ion-col>
            </ion-row>
      </ion-grid>
    </ion-card >
    <ion-card *ngIf="!this.pointsPath[1]">
        <ion-row>
            <ion-col size="2">
                <img src="/assets/pref-2/red-s.png" alt="" />
            </ion-col>
            <ion-col >
              <ion-select [disabled]="this.pointsPath[1]" (ionChange)="itemSelected($event)" placeholder="Scegli il punto da lista" class="select">
                  <ion-select-option *ngFor="let point of endPoints" value={{point._id}}>{{point | label}}</ion-select-option> 
              </ion-select>
            </ion-col>
        </ion-row>
    </ion-card>
    
    <ion-card *ngIf="savePath">
        <ion-row>
            <ion-col size="2" class="path">
                <img src="/assets/bb/icon3-m.png" alt="" />
            </ion-col>
            <ion-col size="10">
              
              <ion-select (ionChange)="pathSelected($event)" placeholder="Select One" class="select">
                  <ion-select-option *ngFor="let path of pathCreated" value={{path.filter.value}}>{{path.filter.name}}</ion-select-option> 
              </ion-select> 
            </ion-col>
        </ion-row>
    </ion-card>
    
        <ion-fab *ngIf="pathIsCreated" vertical="bottom" horizontal="start" slot="fixed">
            <ion-fab-button>
                <ion-icon name="arrow-back" [routerLink]="['/tabs/filters']"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab *ngIf="onPathSelected" vertical="bottom" horizontal="start" slot="fixed">
                <ion-fab-button>
                    <ion-icon name="arrow-back" [routerLink]="['/tabs/filters']"></ion-icon>
                </ion-fab-button>
            </ion-fab>
      <ion-fab *ngIf="pathIsCreated" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
              <ion-button  (click)="getShowPath()"  type="submit"><ion-icon name="navigate"></ion-icon></ion-button>
          </ion-fab-button>
      </ion-fab>

      <ion-fab *ngIf="onPathSelected" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
              <ion-button  (click)="savePathNavigate()" type="submit"><ion-icon name="done-all"></ion-icon></ion-button>
          </ion-fab-button>
      </ion-fab>
  
  
</ion-content>
 

