<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profilo" class="tab">
      <img class="tab-img" src="/assets/bb/icon0-s.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="home" class="tab">
        <img class="tab-img" src="/assets/bb/icon2-s.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="filters" class="tab">
        <img  class="tab-img" src="/assets/bb/icon3-s.png" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab">
        <img class="tab-img" src="/assets/bb/icon4-s.png" alt="" />
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
