<ion-header>
    <ion-toolbar>
      <ion-title>
        Filters
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <div class="section">
    <ion-item class="item">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div >
                        <ion-label class="label">Step #1</ion-label>  
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        
    </ion-item>

    <ion-item class="item">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div >
                        <ion-label class="label">Filtra in base alle esigenze</ion-label>  
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        
    </ion-item>
    
    <form [formGroup]="formModalitaFilters" (ngSubmit)="setFiltersPath()">
    <ion-item class="item">
                    
        <ion-grid>
            <ion-row>
                <ion-col size="4" class="ion-text-start">
                    
                    <ion-row >
                        <img style="height:50px" src="/assets/icon/icon0-s.png" alt="" />
                    </ion-row>
                    <ion-row >
                            <ion-toggle class="toggle"formControlName="piedi" (ionChange)="isPiediSelected()"></ion-toggle>
                    </ion-row>
                    <ion-row >
                        <ion-label class="label">A piedi</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="4" class="ion-text-center" >
                    <ion-row >
                        <img style="height:50px" src="/assets/icon/icon1-s.png" alt="" />
                    </ion-row>
                    <ion-row >
                        <ion-toggle class="toggle" formControlName="bici" (ionChange)="isBiciSelected()"></ion-toggle>
                    </ion-row>
                    <ion-row >
                        <ion-label class="label">In bici</ion-label>
                    </ion-row>
                
                </ion-col>
                <ion-col size="4" class="ion-text-end" >
                    <ion-row >
                        <img style="height:50px" src="/assets/icon/icon2-s.png" alt="" />
                    </ion-row>
                    <ion-row >
                        <ion-toggle class="toggle" formControlName="macchina" (ionChange)="isMacchinaSelected()"></ion-toggle>
                    </ion-row>
                    <ion-row >
                        <ion-label class="label">In auto</ion-label>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
            
        
    </ion-item>

        <div class="ion-padding">
            <ion-button color="primary" type="submit" [disabled]="!formDisabled">Avanti</ion-button>    
        </div>
    
    </form>
    </div>
</ion-content>